html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fit-image {
    width: 100%;
    height: 32rem;
    object-fit: cover;
    object-position: top;
}

.rounded {
    border-radius: 12px;
}

.padding {
    padding: 2px 60px;
}

.center {
    justify-content: center;
    object-position: center;
    text-align: center;
}